<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-light bg-white sticky-top" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); min-height: 80px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'postToday' %}"> <img src="/static/images/instagram.png" class="btn-btn"> </a>
            </div>
        </div>
    </nav>
</body>

</html>