<nav class="navbar navbar-dark fixed-top mb-4" style="padding-top: 0; padding-bottom:0; background:#fff;">
    <div class="container">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{%url 'index'%}" style="color: #333;"><i style="font-size: 30px;"
                class="fab fa-instagram fa-lg"></i> <span
                id="insta">Instagram</span></a>
        <form class="search mx-auto" action="{%url 'search'%}" method="GET">
            <input type="text" class="search-textbox" placeholder="Search" name="search">
            <input type="submit" name="" id="" hidden>
        </form>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{%url 'user_logout'%}" style="color: #333;"><i class="fas fa-power-off"></i></a>
                <a class="nav-link" href="{%url 'profile' user.id%}" style="color: #333;"><i class="far fa-user fa-lg"></i></a>
            </li>
        </ul>
    </div>
</nav>